<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>主页</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div id="index">
        <el-menu
        :default-active="activeIndex"
        class="el-menu-demo"
        mode="horizontal"
        @select="handleSelect"
        background-color="#545c64"
        text-color="#fff"
        active-text-color="#ffd04b">
        <el-menu-item index="1">管理</el-menu-item>
        <el-menu-item index="2">爬取图片</el-menu-item>
        <el-menu-item index="3" disabled>消息中心</el-menu-item>
        <el-menu-item index="4">上传</el-menu-item>
        </el-menu>
        <div class="container" v-if = "index == 1">
            <iframe src="./manage" width="100%" height="100%" class="home"></iframe>
        </div>
        <div class="container" v-if = "index == 2">
            <iframe src="./reptile" width="100%" height="100%" class="home"></iframe>
        </div>
        <div class="container" v-else-if = "index == 4">
            <iframe src="./upload" width="100%" height="100%" class="home"></iframe>
        </div>
    </div>
</body>
<script src="../static/js/vue.js"></script>
<script src="../static/js/axios.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="../static/js/index.js"></script>
</html>